@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

html {
    font-size: clamp(14px , 1.5vw, 18px);
}

body {
    min-height: 100vh;
    background-color: hsl(0, 0%, 98%);
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    padding: 4em 2em;
}
h2,h1 {
    font-size: clamp(1.6rem, 3vw, 4rem)
}
h2 {
    font-weight: 200;
}
h1 {
    font-weight: 600;
}
h3,h1 {
    color:  hsl(234, 12%, 34%);
}
h3 {
    padding-bottom: 0.3em;
}
img {
    max-width: 70px;
    align-self: flex-end;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
}
.container-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.title {
    display: flex;
    flex-direction: column-reverse;
}
.text-p {
    font-size: clamp(1rem, 2vw, 1.5rem);
    min-width: 280px;
}

.container-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.card {
    max-width: 286.575px;
    min-height:225.123px;
    padding: 1.5em;
    border-radius: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 123.1px rgba(0, 0, 0, 0.1);

}
.card-p {
    font-size: 0.95rem;
    text-align: start;
}

.cyan {
    border-top: 5px solid hsl(180, 62%, 55%);
}

.red {
    border-top: 5px solid hsl(0, 78%, 62%);
}

.orange {
    border-top: 5px solid hsl(34, 97%, 64%);
}
.blue {
    border-top: 5px solid hsl(212, 86%, 64%);
}

@media screen and (min-width:1180px) {
    .text-p {
        max-width: 760px;
        font-size: 20px;
    }
 
    .container-card {
        flex-direction: row;
        align-items: center;
        justify-content: center ;
        gap: 20px;
    }
    .center {
        width: fit-content;
    }
    .card {
        max-width: 354px;
    }
}